@import url('https://fonts.google.com/specimen/Montserrat?query=mont');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}



main {
    min-height: 100vh;
}


header {
    background: #0a3972;
    position: fixed;
    width: 100%;
    top: o;
    padding: 10px 15px 5px 15px;
}

navbar {
    margin-left: 30px;
    margin-bopxttom: 10px;
    display: inline-block;
    overflow: auto;
}

navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}

navbar a:hover {
    color: #f3deca;
    text-decoration: underline 1px;
}

footer {
    min-height: 80px;
    background: #2d4057;
    text-align: center;
    padding-top: 35px;
}

p {
    line-height: 150%;
    text-indent: 30px;
}

li {
    margin-top: 10px;
    padding-left: 15px;
    list-style-image: linear-gradient(#fa9483, #fa9483);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: "Dancing Script", cursive;
}

h1 {
    font-size: 270%;
}

h2 {
    font-size: 200%;
}

section {
    padding: 90px 15%;
}


.logo {
    height: 50px;
}

#index {
    background: linear-gradient(rgba(53, 52, 52, 0.542), rgba(0, 0, 0, 0.477)), url('../images/colicauti.jpg');
    background-size: cover;
    min-height: 100vh;

}

.index-info {
    margin-top: 10vh;
    text-align: center;
}


.index-info h1 {
    font-size: 350%;
    color: white;
    border: 2px solid gray;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    background-color: #2d4057;
}

.link-index {
    color: white;
    text-decoration: underline #f651152c;
    font-size: 20px;
}

.link-index:hover {
    color: #f3deca;
}

.centered {
    text-align: center;
}

.vframe {
    width: 100%;
    height: 30vw;
    border: 2px solid #fa9483;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.images {
    width: 90%;
    height: 100vh;
}
.loc {
    overflow: auto;
    border-bottom: 2px #fa9483 dashed;
    margin-bottom: 10px;
}

.loc img {
    height: 18vh;
    width: 18vh;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.harta {
    width: 100%;
    height: 40vh;
    border: 2px solid #f3deca;
    border-radius: 5px;
}

.row {
    overflow: auto;
}

[class^="col-"] {
    float: left;
    padding: 0px 10px;
}

.col-50 {
    width: 50%;
    float: left;
    padding: 0px 10px;
}

.contacte,
.cform {
    border: 2px solid #f3deca;
    border-radius: 5px;
    background-color: #f3deca9b;
    padding: 5px 5%;
    height: 325px;
    margin-bottom: 15mp;
}

.cform input,
.cform textarea {
    width: 100%;
    font-size: 15px;
    font-family: inherit;
    margin-bottom: 10px;
    padding: 4px 6px;
    margin-bottom: 15mp;
}

#hamburger {
    color: white;
    font-size: 20px;
    position: absolute;
    right: 72px;
    top: 24px;
    cursor: pointer;
    display: none;
}

/* media trebuie sa fie la sfirsitul fisierului */
@media (max-width: 800px) {

    body {
        font-size: 16px;
    }

    section {
        padding: 90 px 10px;
    }

    .index-info h1 {
        font-size: 250%;
    }

    .vframe {
        height: 55vw;
    }

    [class^="col-"] {
        width: 100% !important;
    }

    navbar a {
        display: none;
    }

    navbar.mobile a {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    #hamburger {
        display: block;
    }
}